:root {
	
}

*
{
  font-family: 'Metrophobic', Arial, serif;font-weight: 400;
}


@font-face {
	font-family: "jua";
	src: url(../fonts/BMJUA_ttf.ttf);
}
html 
{
	scroll-behavior: smooth;
}
body 
{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.navbar
{
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 100%;
	position: fixed;
}
.navbar-logo-left {
	margin-left: 10px;
	height: 55px;
	width: 226px;
	background: url(../images/logo\ copy.png) no-repeat center;
	background-size: cover;
}

.navbar-logo {
	margin-left: 10px;
	height: 55px;
	width: 226px;
}

.navbar-menu {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-right: 10px;
}
.navbar-menu li {
	padding: 5px 25px;
}
.navbar-menu li :hover {
	color: rgb(255, 102, 0);
}
.navbar-toggleBtn {
	display: none;
	position : absolute;
	right: 32px;
	font-size: 24px;
	color: rgb(255, 102, 0); 
}


@media screen and (max-width: 768px) {
	.navbar
	{
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width:100%
	}
	.navbar-logo {
		padding: 10px 10px;
	}

	.navbar-menu li {
		width: 100%;
		text-align: center;
	}
	.navbar-toggleBtn {
		display: block;
		padding: 10px 10px;
	}

	.navbar-menu.active {
		display: flex;
	}
}


section
{
	height: 100vh;
}

.mainpage
{
	color: white;
	background: linear-gradient( rgb(0, 0, 0, 0.2), 
	rgba(0, 0, 0, 0.2) ),url(../images/tent-gd319add57_1920.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainheader
{
	position: relative;
	font-family: 'Poppins', sans-serif;
	height: 300px;
	width: 50%;
	top: 30%;
	left: 10%;

}
.maincamping
{
	font-size: 120px;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}
.subheader
{
	position : absolute;
	font-size: 30px;
	font-weight: 300;
	top: 55%;
}
.main-box
{
	position: absolute;
	text-decoration: none;
	left: 55%;
	top: 55%;
	text-align: center;
	border-radius: 50px;
	width: 20%;
	background-color: rgb(255, 102, 0);

}

.main-box a
{
	display: block;
	color: white;
	font-size: 15px;
	padding: 8px 15px;
	margin-left: 10px;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.mainheader {
		width: 100%;
	}
	.maincamping
	{
		font-size: 80px;
		margin: 0;
		padding: 0;
	}
	.subheader
	{
		font-size: 25px;
		margin-top: -40px;
	}
	.main-box
	{
		position: absolute;
		text-decoration: none;
		left: 0%;
		top: 50%;
		border-radius: 50px;
		width: 20%;
		color: rgb(255, 102, 0);

	}

	.main-box a
	{
		display: block;
		margin: 3px 0;
		padding: 0;
		color: white;
		font-size: 8px;
		text-decoration: none;
	}
}

@media screen and (min-width: 770px) and (max-width: 1228px) {
	.maincamping
	{
		font-size: 80px;
	}
	.subheader
	{
		font-size: 25px;
		margin-top: -40px;
	}
	.main-box
	{
		position: absolute;
		text-decoration: none;
		left: 0%;
		top: 50%;
		text-align: center;
		border-radius: 50px;
		width: 30%;
		color: rgb(255, 102, 0);

	}

	.main-box a
	{
		display: block;
		color: white;
		font-size: 15px;
		margin: 5px;
		padding: 0;
		text-decoration: none;
	}
}

.aboutpage 
{
	height: 300vh;
}

.aboutpage
{
	background: linear-gradient( rgba(252, 252, 252, 0.9), 
	rgba(252, 252, 252, 0.9) ),url(../images/about/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: -100px;
}

.aboutpage p{
	color: rgb(78, 78, 78);
	margin: 0 auto;
	margin-top: -10px;
	width: 55%;
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom: 10px;
}
.abouth1
{
	color: black;
	font-size: 65px;
	font-weight: 500;
	padding: 0;
	margin-left: 17.5%;
	padding-top: 75px;
	font-family: 'Poppins', sans-serif;
	letter-spacing:-5px;

}

.box-about1{
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-left: 17.5%;
	width: 60%;
	height: 25%;
	background-image: url(../images/about/about1.jpg);
	background-size: cover;
	background-position: center;

}
.box-about1-1{
	font-family: 'Poppins', sans-serif;
	float: left;
	position: relative;
	box-sizing: border-box;
	color: rgb(255, 102, 0);
	width: 5%;
	height: 10%;
	margin: 0;
}
.box-about1-1 header
{
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	color: rgb(255, 102, 0);
	margin: 0;
	margin-left: 8px;
	margin-top: 10px;
	writing-mode: vertical-lr;
}
.box-about1-1 p
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	color: rgb(255, 102, 0);
	margin: 0;
	margin-left: 20px;
	margin-top: 10px;
	writing-mode: vertical-lr;
}

.box-about2-text{
	clear: both;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	height: 3%;
	padding: 0 auto;
	padding-top: 30px;
	font-family: 'Noto Sans KR', sans-serif;
}
.box-about2-text p{
	font-size:20px;
	padding-bottom: 15px;
}
.about-box-p1
{
	padding-top: 20px;
}

.equipmentpage
{
	background-color: white;
	height: 150vh;
	box-sizing: border-box;
}
.equipment-h1
{
	color:rgb(255, 102, 0);
	font-size: 60px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.equipment-p1{
	color: rgb(78, 78, 78);
	margin: 30px auto;
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
}
.equipment-p1-highlight 
{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}

.equipment-image-1f
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10%;
}
.equipment-image-1f-box
{
	display: flex;
	width: 33.33%;
	position: relative;
}
.equipment-image-1f-box h1
{
	text-align: center;
	font-size: 35px;
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 100%;
	transform: translate( -50%, -50% );
	opacity: 0;
}
.equipment-image-1f-box p {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate( -50%, -50% );
	opacity: 0;
}

.equipment-image-1f-box:hover h1, .equipment-image-1f-box:hover p
{
	opacity: 1;
}

.equipment-image-2f
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10%;
}
.equipment-image-2f-box
{
	display: flex;
	width: 33.33%;
	position: relative;
}
.equipment-image-2f-box h1
{
	text-align: center;
	font-size: 35px;
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 100%;
	transform: translate( -50%, -50% );
	opacity: 0;
}
.equipment-image-2f-box p {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate( -50%, -50% );
	opacity: 0;
}

.equipment-image-2f-box:hover h1, .equipment-image-2f-box:hover p
{
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.equipment-image-1f-box h1{
		font-size: 20px;
		width: 100%;
	}
	.equipment-image-2f-box h1{
		font-size: 20px;
		width: 100%;
	}
}

.foodpage
{
	background-color: rgb(245, 244, 244);
	height: 300vh;
	box-sizing: border-box;
	margin-top: 50px;
}


.foodh1
{
	color: black;
	font-size: 60px;
	text-align: center;
	width: 100%;
	padding: 0 auto;
	margin: 0 auto;
	padding-top: 60px;
	font-weight: bold;	
	font-family: 'Poppins', sans-serif;
}

.food-1f-box-text
{
	width: 35%;
	margin: 0 auto;
	margin-left: 150px;
	padding: 0 auto;
	color: black;
	float: left;
	margin-top: 150px;
}
.food-1f-box-img
{
	width: 15%;
	height: 400px;
	margin: 0 auto;
	padding: 0 auto;
	margin-top: 150px;
	color: black;
	float: left;
	margin-right: -50px;
}
.food-1f-box img
{
	margin: 0;
	padding: 0;
}

.food-1f-title{
	font-size: 40px;
	font-weight: bold;
	margin-top: -11px;
	font-family: 'Noto Sans KR', sans-serif;
}
.food-1f-subtitle{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 20px;
	color: rgb(255, 102, 0);
}
.food-1f-word{
	font-size: 15px;
	color: rgb(107, 105, 105);
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 20px;
}
.food-2f {
	clear: both;
	margin-top: 50px;
	margin-left: 150px;
}
.food-2f-box-img
{
	width: 30%;
	height: 300px;
	margin: 0 auto;
	padding: 0 auto;
	margin-top: 200px;
	color: black;
	float: left;
}

.food-2f-box-text
{
	width: 40%;
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0 auto;
	margin-left: 110px;
	padding: 0 auto;
	color: black;
	float: left;
	margin-top: 200px;
}
.food-2f-title{
	font-size: 30px;
	font-weight: bold;
	color:rgb(78, 78, 78);
	margin-top: -11	px;
	font-family: 'Noto Sans KR', sans-serif;
}
.food-2f-word{
	font-size: 15px;
	color: rgb(107, 105, 105);
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 20px;
}


.campsitepage
{
	height: 100vh;
	background: linear-gradient( rgba(252, 252, 252, 0.7), 
	rgba(252, 252, 252, 0.7) ),url(../images/campsite/back2.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: -100px;
}

.campsiteh1
{
	color: black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-top: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}

.campsite-subtitle
{
	color: black;
	font-size: 17px;
	text-align: center;
	width: 100%;
	padding: 0;
	margin-bottom: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
.campsite-1f
{
	margin: 0 13%;
	height: 32%;
}

.campsite-1f-main
{
	width: 27%;
	height: 100px;
	margin: 0 auto;
	padding: 0 auto;
	color: black;
	float: left;
	margin-top: 30px;
}
.campsite-1f-photo
{
	width: 23.33%;
	height: 100px;
	margin: 0 auto;
	padding: 0 auto;
	margin-top: 60px;
	color: black;
	float: left;
	position: relative;
}
.campsite-1f-background {
	height: 80px;
	background-color: rgba(8, 8, 8, 0.2);
	margin-top: -80px;
}

.campsite-1f-text
{
	color: white;
	clear: both;
	width: 100%;
	margin:0;
	margin-top: -78px;
	position: absolute;
	font-size: 17px;
	padding: 25px 0;
	background-color: rgb(0, 0, 0, 0.6);
	box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}

.campsite-1f-mainbox
{
	color: white;
	font-size: 13px;
	font-family: 'Noto Sans KR', sans-serif;
	position: absolute;
	text-align: center;
	border-radius: 50px;
	width: 7%;
	border: 2px solid white;
	margin-top: -95px;
	margin-left: 10px;
}

.campsite-1f-maintext
{
	color: white;
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	position: absolute;
	margin-top: -60px;
	margin-left: 10px;
}
