:root {
	
}

*
{
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
}


@font-face {
	font-family: "jua";
	src: url(../fonts/BMJUA_ttf.ttf);
}
html 
{
	scroll-behavior: smooth;
}
body 
{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.navbar
{
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 100%;
	position: fixed;
}

.navbar-logo a{
	font-size: 20px;
	padding-left: 20px;
	font-weight: 600;
}
.navbar-menu {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-right: 10px;
}
.navbar-menu li {
	padding: 8px 15px;
}
.navbar-menu li :hover {
	color: rgb(255, 102, 0);
}
.navbar-toggleBtn {
	display: none;
	position : absolute;
	right: 32px;
	font-size: 24px;
	color: rgb(255, 102, 0); 
}
.navbar-home {
	color: rgb(255, 102, 0);
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.navbar
	{
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width:100%
	}
	.navbar-logo {
		padding: 10px 10px;
	}

	.navbar-menu li {
		width: 100%;
		text-align: center;
	}
	.navbar-toggleBtn {
		display: block;
		padding: 10px 10px;
	}

	.navbar-menu.active {
		display: flex;
	}
}


section
{
	height: 100vh;
}

.mainpage
{
	color: white;
	background: linear-gradient( rgba(252, 252, 252, 0.1), 
	rgba(252, 252, 252, 0.1) ),url(../images/tent-gd319add57_1920.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainheader
{
	position: relative;
	font-family: 'Dela Gothic One', cursive;
	height: 300px;
	width: 50%;
	top: 30%;
	left: 10%;

}
.maincamping
{
	font-size: 90px;
	font-weight: 1000;
}
.subheader
{
	position : absolute;
	font-size: 25px;
	font-weight: 300;
	top: 45%;
}
.main-box
{
	position: absolute;
	text-decoration: none;
	left: 50%;
	top: 45%;
	text-align: center;
	border-radius: 50px;
	width: 20%;
	background-color: rgb(255, 102, 0);

}

.main-box a
{
	display: block;
	color: white;
	font-size: 17px;
	padding: 8px 15px;
	margin-left: 10px;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.mainheader {
		width: 100%;
	}
	.maincamping
	{
		font-size: 53px;
		font-weight: 800;
		margin: 0;
		padding: 0;
	}
	.subheader
	{
		font-size: 17px;
		font-weight: 400;
		margin-top: -50px;
	}
	.main-box
	{
		position: absolute;
		text-decoration: none;
		left: 0%;
		top: 40%;
		border-radius: 5px;
		width: 20%;
		background-color: rgba(255, 255, 255, 0.932);

	}

	.main-box a
	{
		display: block;
		margin: 3px 0;
		padding: 0;
		color: black;
		font-size: 5px;
		text-decoration: none;
	}
}

@media screen and (min-width: 770px) and (max-width: 1228px) {
	.maincamping
	{
		font-size: 53px;
		font-weight: 800;
	}
	.subheader
	{
		font-size: 17px;
		font-weight: 400;
		margin-top: -50px;
	}
	.main-box
	{
		position: absolute;
		text-decoration: none;
		left: 0%;
		top: 40%;
		text-align: center;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.932);

	}

	.main-box a
	{
		display: block;
		color: black;
		font-size: 10px;
		margin: 5px;
		padding: 0;
		text-decoration: none;
	}
}

.aboutpage 
{
	height: 300vh;
}

.aboutpage
{
	background: linear-gradient( rgba(252, 252, 252, 0.9), 
	rgba(252, 252, 252, 0.9) ),url(../images/about/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: -100px;
}

.aboutpage p{
	color: rgb(78, 78, 78);
	margin: 0 auto;
	margin-top: -10px;
	width: 55%;
	font-size: 30px;
	font-family: 'Nanum Gothic', sans-serif;
	padding-bottom: 10px;
}
.abouth1
{
	color: black;
	font-size: 60px;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-top: 75px;
	font-family: 'Playfair Display', serif;

}

.box-about1{
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-left: 22.5%;
	width: 50%;
	height: 20%;
	background-image: url(../images/about/about1.jpg);
	background-size: cover;
	background-position: center;

}
.box-about1-1{
	float: left;
	position: relative;
	box-sizing: border-box;
	color: rgb(255, 102, 0);
	width: 5%;
	height: 10%;
	margin: 0;
}
.box-about1-1 header
{
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: b;
	color: rgb(255, 102, 0);
	margin: 0;
	margin-top: 10px;
	writing-mode: vertical-lr;
}

.box-about1-1 p
{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: rgb(255, 102, 0);
	margin: 0;
	margin-left: 5px;
	margin-top: 10px;
	writing-mode: vertical-lr;
}

.box-about2{
	clear: both;
	box-sizing: border-box;
	margin: 0 auto;
	width: 55%;
	height: 3%;
	padding: 0 auto;
	margin-top: 10px;
}
.box-about2 p
{
	width: 100%;
	font-size: 16px;
	padding: 0;
	padding-top: 5px;
	color:rgb(97, 96, 96);
	font-family: 'Noto Sans KR', sans-serif;
}
.about-box-p1
{
	padding-top: 20px;
}

.equipmentpage
{
	background-color: white;
	height: 160vh;
	box-sizing: border-box;
}


.equipment-h1
{
	color:rgb(255, 102, 0);;
	font-size: 60px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	
}

.equipment-p1{
	color: rgb(78, 78, 78);
	margin: 0 auto;
	font-size: 30px;
	font-family: "jua";
	text-align: center;
	margin-top: 20px;
}

.equipment-image-1f
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10%;
}
.equipment-image-1f-box
{
	display: flex;
	width: 33.33%;
	position: relative;
	margin-top: 50px;
}
.equipment-image-1f-box h1
{
	text-align: center;
	font-size: 35px;
	font-family: "jua";
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 100%;
	transform: translate( -50%, -50% );
	opacity: 0;
}
.equipment-image-1f-box p {
	background-color: rgba(72, 73, 72, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate( -50%, -50% );
	opacity: 0;
}

.equipment-image-1f-box:hover h1, .equipment-image-1f-box:hover p
{
	opacity: 1;
}

.equipment-image-2f
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10%;
}
.equipment-image-2f-box
{
	display: flex;
	width: 33.33%;
	position: relative;
}
.equipment-image-2f-box h1
{
	text-align: center;
	font-size: 35px;
	font-family: "jua";
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 100%;
	transform: translate( -50%, -50% );
	opacity: 0;
}
.equipment-image-2f-box p {
	background-color: rgba(72, 73, 72, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate( -50%, -50% );
	opacity: 0;
}

.equipment-image-2f-box:hover h1, .equipment-image-2f-box:hover p
{
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.equipment-image-1f-box h1{
		font-size: 20px;
		width: 100%;
	}
	.equipment-image-2f-box h1{
		font-size: 20px;
		width: 100%;
	}
}

.foodpage
{
	background-color: rgb(245, 244, 244);
	height: 150vh;
	box-sizing: border-box;
}


.foodh1
{
	color: black;
	font-size: 60px;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-top: 60px;
	font-family: 'Playfair Display', serif;

}

.campsiteh1
{
	color: rgb(255, 102, 0);;
	font-size: 60px;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-top: 50px;
	font-family: 'Playfair Display', serif;

}

